# Ignore python cache
__pycache__/
*.pyc

# Ignore all large datasets anywhere in this project workspace
*.csv
*.xlsx

# Ignore heavy deep learning model folders anywhere
saved_mbert_model/
saved_models/
results/
sample_data/